* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width:990px) {

    /*header*/

    .header-right {
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 14px;
        border-left: 1px solid #ffffff;
    }

    .container-header {
        max-width: 990px;
    }

    .header-left {
        width: 170px;
    }

    .link-header {
        display: none;
    }

    .body-div {
        height: 1px;
    }

    .div-header_logos-1 {
        display: none;
    }

    .div-header_logos-2 {
        display: none;
    }

    .row-header {
        background: #f08e76;
        justify-content: space-between;
        height: 60px;
        align-items: center;
    }

    .div-link_header {
        display: none;
    }

    .div-header_logos-1 {
        display: none;
    }

    .div-header_logos-2 {
        display: none;
    }

    /*body*/
    .conocenos-body_top {
        background-color: #fead99;
        height: 200px;
    }

    .col-body_top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    .conocenos-body_top-tittle {
        font-size: 29px;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Montserrat";
        text-align: center;
        margin-top: 40px;
        margin-bottom: 5px;
    }

    .conocenos-body_top-text {
        font-size: 15px;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
    }
    .row-body_top {
        justify-content: center;
    }

    /*body top*/

    /*Franquicia*/
    .franquicia_info-top {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    .franquicia_info-top_span {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 27px;
        color: #2b2b2b;
        font-weight: 700;
        font-family: "Montserrat";
 
    }

    .franquicia_info-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .franquicia_imput-text {
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 85px;
        font-weight: 600;
        font-family: "Montserrat";
        text-align: center;
    }

    .franquicia_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .franquicia_input-form {
        width: 90%;
        height: 36px;
    }

    .franquicia_input-form_last {
        height: 126px;
        width: 90%;
    }

    .franquicia_form-last {
        margin-bottom: 28px;

    }

    .franquicia_down-info {
        margin-left: -4%;
        margin-right: 5%;
        margin-bottom: 32px;
        display: flex;
    }

    .franquicia_down-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .franquicia-button_down {
        font-size: 10px;
        height: 36px;
        width: 60px;
        letter-spacing: 1px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        background-color: #f18e76;
    }
    .franquicia_g-recaptcha {
        display: flex;
        justify-content: flex-start;
    }
    .g-recaptcha {
        transform: scale(0.7);
    }

    /*Franquicia*/


    /* footer */
    .style-footer_a {
        background-color: #525252;
        display: flex;
    }

    .container-footer_a {
        display: flex;
    }

    .row-middle_down {
        margin-top: 6px;
    }

    .row-footer_a-1 {
        margin-left: 15px;
        padding-top: 30px;
    }

    .row-footer_a-2 {
        padding: 30px;
        flex-direction: column;
    }

    .span-footer_title {
        font-family: "montserrat";
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 19px;
        color: #ffffff;
        display: contents;
    }

    .span-footer_subtitle-1 {
        font-family: "montserrat-regular";
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
    }

    .span-footer_subtitle {
        font-family: "montserrat-regular";
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
    }

    .logo-footer_social {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .col-footer_a-3 {
        padding: 10px;
    }

    .col-footer_a-4 {
        margin-bottom: -10px;
    }

    .style-footer_b {

        background-color: #494746;
    }

    .down-footer_rights {
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center;
    }
}

@media only screen and (min-width:578px) and (max-width:990px) {

    /*Franquicia*/
    .row_franquicias {
        justify-content: center;
    }
    .franquicia_info-top {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 27px;
        color: #2b2b2b;
        font-weight: 500;
        font-family: "Montserrat";
        text-align: center;
    }

    .franquicia_info-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .franquicia_imput-text {
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 85px;
        font-weight: 500;
        font-family: "Montserrat";
        text-align: center;
    }

    .franquicia_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .franquicia_input-form {
        width: 90%;
        height: 36px;
    }

    .franquicia_input-form_last {
        height: 126px;
        width: 90%;
    }

    .franquicia_form-last {
        margin-bottom: 28px;

    }

    .franquicia_down-info {
        margin-left: -10%;
        margin-right: 5%;
        margin-bottom: 32px;
    }

    .franquicia_down-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .franquicia-button_down {
        font-size: 10px;
        height: 36px;
        letter-spacing: 1px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        background-color: #f18e76;
        ;
    }


    /*Franquicia*/

    .row-body_top {
        justify-content: center;
    }
    .col-body_top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    .header-style {
        background: #f08e76;
    }

    .row-header {
        justify-content: space-between;
        height: 60px;
        align-items: center;
    }

    .link-header {
        display: none;
    }

    .div-header_logos-1 {
        display: none;
    }

    .div-header_logos-2 {
        display: none;
    }
}

@media only screen and (min-width:991px) {

    .logo_mobile-header {
        display: none;
    }

    .header-style {
        background: #f08e76;
    }

    .header-left {
        width: 170px;
    }

    .row-header {
        height: 60px;
        align-items: center;
        justify-content: space-between;
        margin-left: 4%;
        margin-right: 4%;
    }

    .icon-right_header {
        margin-right: 10px;
        margin-left: 25px;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: flex-end;
    }

    .div-link_header {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }

    .link-header {
        text-decoration: none;
        color: #ffffff;
        font-size: 13px;
        line-height: 42px;
        font-weight: 600;
        font-family: "Montserrat";
        text-align: center;
        margin-right: 5px;
    }

    .div-header_logos-1 {
        align-self: center;
        margin-left: 15px;
        margin-right: 10px;
    }

    .div-header_logos-2 {
        align-self: center;
    }


    /*footer*/
    .style-footer_a {
        background-color: #525252;
        display: flex;
    }

    .container-footer_a {
        display: flex;
    }

    .row-footer_a-1 {
        margin-left: 2%;
        padding-top: 30px;
    }

    .row-footer_a-2 {
        padding: 30px;
        flex-direction: row;
        width: 100%;
    }

    .span-footer_title {
        font-family: "montserrat";
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 19px;
        color: #ffffff;
        display: contents;
    }

    .span-footer_subtitle-1 {
        font-family: "montserrat-regular";
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
    }

    .span-footer_subtitle {
        font-family: "montserrat-regular";
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
    }

    .logo-footer_social {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .col-footer_a-4 {
        margin-bottom: -10px;
    }

    .style-footer_b {

        background-color: #494746;
    }

    .down-footer_rights {
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center;
    }

    /*footer*/
    /*header*/
    .row-body_top {
        justify-content: center;
    }
    .conocenos-body_top {
        background-color: #fead99;
        height: 232px;

    }

    .col-body_top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .conocenos-body_top-tittle {
        font-size: 49px;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Montserrat";
        text-align: center;
        margin-top: 56px;
        margin-bottom: 5px;
    }

    .conocenos-body_top-text {
        font-size: 20px;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        width: 63%;
    }

    /*header*/

    /*Franquicia*/
    .row_franquicias {
        justify-content: center;

    }
    .franquicia_info-top {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    .franquicia_info-top_span {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 27px;
        color: #2b2b2b;
        font-weight: 700;
        font-family: "Montserrat";
 
    }
    .franquicia_info-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .franquicia_imput-text {
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 85px;
        font-weight: 600;
        font-family: "Montserrat";
        text-align: center;
    }

    .franquicia_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .franquicia_input-form {
        width: 90%;
        height: 36px;
    }

    .franquicia_input-form_last {
        height: 126px;
        width: 90%;
    }

    .franquicia_form-last {
        margin-bottom: 28px;

    }

    .franquicia_down-info {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 32px;
        display: flex;
    }

    .franquicia_down-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    

    .franquicia-button_down {
        font-size: 16px;
        height: 56px;
        width: 172px;
        letter-spacing: 1px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        background-color: #f18e76;
        ;
    }
    /*Franquicia*/



    /*body*/


    .conocenos-col {
        margin-bottom: 82px;
    }



    .conocenos-div_body {
        margin-top: 140px;
    }

    .conocenos-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}